/**
 *
 *
 * Cube のカスタマイズ
 *
 *
 */
/**
 * 基本
 */
.gtco-cover-custom,
.gtco-cover .display-t,
.gtco-cover .display-tc {
    height: 150px;
}
#gtco-header p {
    margin-bottom: 0 !important;
    font-size: 16px;
}
#gtco-footer {
    padding-top: 4em !important;
}
@media screen and (max-width: 992px) {
    .col-md-6 {
        padding-top: 15px;
    }
}
/**
 * Section
 */
.gtco-section {
    padding: 2em 0;
}
.title {
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    opacity: .8;
    background: #3dcdbc;
    background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
    background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1);
}
.title i {
    /*color: #17B794;*/
    color: #fff;
    font-size: 24px !important;
    font-weight: bold;
    margin: 0 10px;
}
/**
 * 検索フォーム
 */
.gtco-searchbox .btn {
    padding: 10px 20px;
}
/**
 * カテゴリ
 */
.gtco-section .with-title {
    border: 1px solid #17B794;
    padding: 0;
}
.gtco-searchbox .search-form,
.gtco-tags .tags {
    padding: 15px;
}
/**
 * キーワードで検索
 */
.gtco-searchbox .search-form .form-group {
    /*text-align: center;*/
    margin-bottom: 0;
}
.gtco-searchbox .search-form .form-inline input[type=text] {
    width: 50%;
    margin-right: 20px;
}
.gtco-searchbox .search-form .form-inline input.btn {
    height: 54px;
}
/**
 * タグで検索
 */
.gtco-tags .tags .tag {
    display: inline-block;
    padding: 0 10px 0;
}
.gtco-tags .tags .panel-group {
    margin-bottom: 0;
}
.gtco-tags .tags .panel-group .panel-heading {
    background-color: #f3f3f3;
}
/**
 * PickUP
 */
.pickup {
    padding: 0 0 2em;
}
.pickup .wrap {
    margin-left: 10px;
    margin-right: 10px;
    /*text-align: center;*/
    padding: 2em;
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
    bottom: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
@media screen and (max-width: 992px) {
    .pickup .wrap {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.pickup h3 {
    font-size: 18px;
    color: #000;
    text-align: left;
    position: relative;
    padding-left: 30px;
}
.pickup h3 i {
    position: absolute;
    left: 0;
    top: -0.1em;
    color: #17B794;
    font-size: 22px !important;
}
/**
 *
 * 検索結果　サイト
 *
 */
.gtco-sites .site {
    border: 1px solid #17B794;
}
.gtco-sites .site .banner {
    padding: 15px;
}
.gtco-sites .site .banner a.first-novel {
    /*height: 40px;*/
    line-height: 20px;
    border: 1px solid #17B794;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    opacity: .8;
    background: #3dcdbc;
    background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
    background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1);
}
.gtco-sites .site .banner .first-novel i {
    font-size: 12px;
    font-weight: bold;
}
.gtco-sites .site p.title {
    color: #000;
    padding-left: 15px;
}
.gtco-sites .site p.description {
    padding: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.4em;
}
/**
 * ログイン画面
 */
.gtco-auth .box {
    border: 1px solid #17B794;
    padding: 0;
}
.gtco-auth .box form {
    padding: 15px;
}
.gtco-auth .make-account {
    margin-top: 20px;
}
.gtco-auth .make-account a:link {
    text-decoration: underline;
}
/**
 *
 * マイページ
 *
 */
#mypage .list-group-item.active,
#mypage .list-group-item.active:hover,
#mypage .list-group-item.active:focus {
    opacity: .8;
    background: #3dcdbc;
    background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
    background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1);
    border-color: #3dcdbc;
}
/**
 * フォーム
 */
/* フロントのフォーム共通 */
.form-control::placeholder {
    color: #ccc;
}
form label span.required-star{
    color: red;
}
/* マイページ */
#mypage .form-control {
    height: 42px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #fff;
}
#mypage textarea.form-control {
    height: auto !important;
}
#mypage form label {
    height: 42px;
    line-height: 42px;
    text-align: right;
    font-size: 16px;
}
#mypage form label.radio-inline {
    line-height: 20px;
}
@media screen and (min-width: 768px) {
    #mypage .form-horizontal .control-label {
        padding-top: 0;
    }
}
#mypage form .btn {
    padding: 10px 20px;
}
#mypage .well {
    background-color: #f9f9f9;
    border: none;
}
/**
 * フラッシュメッセージ
 */
.flash-msg {
    display: none;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
    color: #FFF;
    background-color: #17B794;
    text-align: center;
    padding: 10px;
    font-size: 1em;
}
.err {
    background-color: red !important;
}